code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
body {
	margin: 0;
	padding: 10px;
	background-color: #252525;
	color: #eee;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.camFactory {
	display: flex;
	flex-wrap: wrap;
}
.camera {
	position: relative !important;
	display: flex;
	flex-direction: column;
	margin: 0 20px 10px;
}
.info {
	background-color: #333;
	padding: 10px;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
video {
	z-index: 1;
	margin: 2px 0;
}
.red {
	background-color: #ff0000;
	display: block;
	width: fit-content;
	padding: 2px 4px;
	margin: 0;
}
ul {
	list-style-position: outside;
	padding: 0;
	list-style-type: none;
}
